body {
    background-color: burlywood;
    font: Arial 15pt normal;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    margin: auto;
}

div#principal {
    background-color: white;
    width: 400px;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px teal;
    text-align: center;
    padding: 10px;
    font-size: large;
}